<!DOCTYPE html>
<html>
 <head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" media="all"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/js/main.js"></script>
 </head>
 <body> 
  <div class="header">
    <img src="/static/images/truecar.jpeg"/>
  </div>
  <div class="container">
     <span>Enter a Vehicle Serial Number</span>&nbsp;&nbsp;
     <input type="text" id="vsn" class="serialnumber" placeholder="VSN" name="vsn" value=""/>&nbsp;
     <input type="submit" id="submit" class="button blue" value="Submit"/>
     <span class="validate"></span>

     <p class="result"></p>
     <ul class="result">
     </ul>
   </div>
 </body>
</html>



